.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header-color {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.main-page {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  width: 100%;
  height: 100%;
}
.landing-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.material-icons {
  color: white;
}

.mdl-layout__drawer {
  
}
.avatar-img {
  position: relative;
  height: 250px;
  padding-top: 5em;
  left: 50%;
  margin: auto;
  transform: translate(-50%, 0);
}
.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
}
.banner-text h1 {
  font-size: 90px;
  font-weight: bold;
  color: white;
}
.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}
.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}
h1 {
  text-align: center;
  color: rgba(0,0,0,0.2);
  font-size: 5rem !important;
}
